

/* .Newpost_Container{
    height: auto;
    width:100%;
    left:0
    
} */

.Newpost-Container p{
    /* margin-left: 0 ; */
}

[contenteditable=true]:empty:before{
  content: attr(aria-placeholder);
  display: block; /* For Firefox */
  color: gray;
}

.Title[contenteditable=true] {
    
    font-size: 30px;
    font-weight: bold;

  }


.Editor{
    height:inherit;
    /* max-height: 100px; */
    border: 3px solid black;
    padding: 0px;
    font-size: 20px;
    padding-bottom: 0px;
}

.Editor div{
    padding-left: 0;
    margin-left: 0px;
    padding-bottom: 0px !important;
}